node_modules/
dist/
build/
**/build/
*.apk
*.aab
*.ap_
*.dex
android/.gradle
android/local.properties
local.properties
android/update.secret
android/update.repo
firebase.local.json
android/app/google-services.json
*firebase-adminsdk*.json
serviceAccount.json
*.keystore
*.jks
.git-old/
.idea
*.iml
.DS_Store
